@font-face {
	font-family: 'Euclid Square';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.henrygressmann.de/fonts/euclid/EuclidSquare-Regular-WebXL.woff2)
			format('woff2'),
		url(https://fonts.henrygressmann.de/fonts/euclid/EuclidSquare-Regular-WebXL.woff)
			format('woff');
	font-display: swap;
}

/* latin */
@font-face {
	font-family: 'Euclid Square';
	font-style: normal;
	font-weight: 500;
	src: url(https://fonts.henrygressmann.de/fonts/euclid/EuclidSquare-Medium-WebS.woff2)
			format('woff2'),
		url(https://fonts.henrygressmann.de/fonts/euclid/EuclidSquare-Medium-WebS.woff)
			format('woff');
	font-display: swap;
}

/* latin */
@font-face {
	font-family: 'Euclid Square';
	font-style: normal;
	font-weight: 600;
	src: url(https://fonts.henrygressmann.de/fonts/euclid/EuclidSquare-Semibold-WebS.woff2)
			format('woff2'),
		url(https://fonts.henrygressmann.de/fonts/euclid/EuclidSquare-Semibold-WebS.woff)
			format('woff');
	font-display: swap;
}

/* latin */
/* @font-face {
	font-family: 'Euclid Square';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.henrygressmann.de/fonts/euclid/EuclidSquare-Bold-WebS.woff2)
			format('woff2'),
		url(https://fonts.henrygressmann.de/fonts/euclid/EuclidSquare-Bold-WebS.woff)
			format('woff');
	font-display: swap;
} */

/* latin */
@font-face {
	font-family: 'Euclid Square';
	font-style: normal;
	font-weight: 200;
	src: url(https://fonts.henrygressmann.de/fonts/euclid/EuclidSquare-Light-WebS.woff2)
			format('woff2'),
		url(https://fonts.henrygressmann.de/fonts/euclid/EuclidSquare-Light-WebS.woff)
			format('woff');
	font-display: swap;
}

html {
	background: black;
}

#nprogress .bar {
	background: linear-gradient(270deg, #ff0000, #008cff, #50ff00);
}

@media print {
	body {
		filter: invert(1);
		background: black;
	}
}

h1 {
	font-weight: 400;
}

h2 {
	font-weight: 500;
}

h1, h2, h3, h4, h5, h6, body, button, input, optgroup, select, textarea {
	margin: 0;
}

body {
	position: absolute;
	width: 100vw;
	overflow-x: hidden;
	font-family: 'Euclid Square', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

*,
::after,
::before {
	box-sizing: border-box;
}

hr {
	height: 0;
}

abbr[title] {
	text-decoration: underline dotted;
}

b, strong {
	font-weight: bolder;
}

code, kbd, pre, samp {
	font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

table {
	border-color: inherit;
}

button, select {
	text-transform: none;
}
